.nav-container {
    padding-block-end: 2em;
    padding-block-start: 2rem;
    background-color: hsl(340, 82%, 52%);
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-item {
    cursor: pointer;
    font-size: 2em;
    color: whitesmoke;
}

li {
    list-style-type: none;
}